.users{
    margin: 30px 30px;
}

.userPhoto{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin: 20px 0 0 0;
}

.selectPage {
    font-weight: bold;
}

.paginator{
    margin: 10px;
}

.pageNumber {
    margin: 0 10px;
    display: inline-block;
    width: 20px;
    text-align: center;
    border: 1px solid #658ec6;
    cursor: pointer;
}

