
.messages{
    margin: 20px 0 10px;
    resize: none;
    background: rgb(255,255,255);
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255, 255, 255, 0.3));
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    height: 50px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid rgb(177, 177, 177);
}

.button{
    background: rgb(255,255,255);
    background: linear-gradient(to right bottom, #65dfc9, #6cdbed);
    border: none;
    border-radius:1rem;
    padding:5px 15px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.message {
    width: 600px;
}

@media (max-width: 1450px) {
.messages{
    max-width: 70%;
}

}
