.header {
    grid-area: h;
    background: green;
}

.img {
    width: 60px;
}

.loginBlock{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}