.header {
    grid-area: h;
    background: rgb(255,255,255);
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255, 255, 255, 0.158));
    border-radius:2rem;
    width: 100%;
}

.logo {
    font-size: 25px;
    display: inline-flex;
    margin-top: 12px;
    margin-left: 40px;
    color:#aeb9c9;
}

.loginBlock{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}

.loginBlock a {
    color: black;
    text-decoration: none;
}


  .logout {
    background: rgb(255,255,255);
    background: linear-gradient(to right bottom, #65dfc9, #6cdbed);
    border: none;
    border-radius:1rem;
    padding:5px 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }


