.login{
    width: 300px;   
    margin: 150px auto;
}

.title{
    font-size: 40px;
    text-align: center;
}

.formLogin{
    background: rgb(255,255,255);
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255, 255, 255, 0.3));
    border: none;
    border-radius: 2rem;
    padding: 15px;
    margin: 12px 0;
}

.buttonLogin{
    text-align: center;
}
