.app-wrapper{
  display: grid;
  grid-template-areas: 
  "h h "
  "n c ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 8fr;
  grid-gap:10px;
  background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3)); 
  width: 60%;
  min-height: 88vh;
  margin: 0px auto 0;
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
}

.app-wrapper-content{
  grid-area: c;
  min-width: 310px;
}

.circleOne,
.circleTwo{
  height: 20rem;
  width: 20rem;
  background: rgb(255,255,255);
  background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
  border-radius: 50%;
}

.circleOne{
  position: absolute;
  z-index: -1;
  top: 5%;
  right: 15%;
}

.circleTwo{
  position: absolute;
  z-index: -1;
  bottom: 5%;
  left: 15%;
}



@media (max-width: 860px) {
  .app-wrapper{
      width: 90%;
      grid-template-rows: 60px 80%;
      grid-template-columns: 1fr 59%;
  }
}