
.nav{
    grid-area: n;
    background: rgb(255,255,255);
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
    border-radius:2rem;
    min-width: 190px;
  }
  
.items{
  margin-top:2rem;
  margin-left: 2rem;
}

.button{
  font-size: 19px;
  color:white;
  outline: none;
  text-decoration: none;
  color: #000;
}

.button:hover{
  color:#658ec6;
  transition: all 0.3s;
}

.active{
  font-weight: bold;
}

.friends{
  text-align: center;
}

.friends__title{
  color:white;
}