
.nav{
    grid-area: n;
    background: blue;
  }
  
.button{
  font-size: 19px;
  color:white;
  outline: none;
  text-decoration: none;
}

.active{
  color: gold;
}

.friends{
  text-align: center;
}

.friends__title{
  color:white;
}